[submodule "NeteaseCloudMusicApi"]
	path = NeteaseCloudMusicApi
	url = https://github.com/EP012014/NeteaseCloudMusicApi.git
[submodule "Kawazu"]
	path = Kawazu
	url = https://github.com/HyPlayer/Kawazu.git
